@inject CV_ASP_Core.Services.JsonFileCompanyService JsonFileCompanyService;
@using CV_ASP_Core.Models;
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop

<div class="list-group">

    @foreach (var company in Companies) {

        <div class="list-group-item" @onclick="(x => OnCompanySelected(company))">

            <div class="card-body" style="height:100%; ">
                    @if (company.IsExpanded) {
                        <div class="arrow up" style="float: left; margin-top:10px; width:10px; height:10px"></div>
                    } else {
                        <div class="arrow down" style="float: left; margin-top:5px; width:10px; height:10px"></div>
                    }

                    <h5 class="card-title"
                        style="float: left; margin-left:20px;">
                        @($"{company.Job} @ {company.Name}")
                    </h5>
            </div>

            <div style="margin-top:20px; margin-left:50px; margin-bottom:15px">
                <h6 style="font-style:italic; text-align:left">
                    @($"{company.DateStart} - {company.DateEnd}")
                </h6>
            </div>
            @if (company.IsExpanded) {

                <ExpandableListItem Company="@company" />
            }

        </div>
    }
</div>

@code {

    IEnumerable<Company> Companies { get; set; }

    protected override void OnInitialized() {

        Companies = JsonFileCompanyService.GetCompanies().Reverse();
    }

    void OnCompanySelected(Company selectedCompany) {

        selectedCompany.IsExpanded = !selectedCompany.IsExpanded;
    }
}
